.container {
  position: relative;
  padding: 20px 30px;
  width: 360px;
}
.logout {
  margin-top: 15px;
}
.close {
  position: absolute;
  cursor: pointer;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  top: -10px;
  right: -10px;
}
