.card {
  position: relative;
  max-width: 320px;
  background: white;
  margin: 10px;
  padding: 10px 10px 30px;
  border: 1px solid var(--blue);
  word-break: break-all;
  font-weight: 300;

  a {
    font-family: var(--consoleFont);
    font-weight: 400;
    font-size: 12px;
  }

  .breadcrumbs {
  }
  .main {
    font-size: 16px;
  }
  .tags {
    position: absolute;
    display: flex;
    bottom: 5px;
    right: 5px;
    font-size: 11px;
    font-family: var(--consoleFont);
    color: var(--mainColor);
    text-transform: uppercase;

    li {
      padding: 0 5px;
    }
  }
}
