.container {
  position: relative;
  display: flex;
}
.logo {
  margin-left: -20px;
  @media(--s) {
    margin-left: 0;
  }
}
.intro {
  font-size: 32px;
  font-family: var(--titleFont);
  margin: 80px 25px 30px;
  @media(--s) {
    font-size: 28px;
    margin: 40px 25px 30px;
  }
}
