/* customized responsive, delete this when using styling framework */
@define-mixin responsive {
  max-width: var(--l-breakpoint);

  @media (--m-viewport) {
    max-width: var(--m-breakpoint);
  }

  @media (--s-viewport) {
    max-width: 100%;
  }
}
